.su{
    background-color: crimson;
    color: darkorchid;
    text-align: center;
}
.p{
    background-color: cornflowerblue;
    color: darkgreen;
}
body{
    background-color: indigo;
}
.bb{
    background-color: greenyellow;
    color: blue;
}
.cc{
    background-color: darkred;
    color: cornflowerblue;
}